.auth-box {
  width: 400px;
  height: 400px;
}

.tabs-container {
  height: 50px;
}

.content-button {
  height: 35px;
}

.content-button:hover {
  cursor: pointer;
  background-color: blue;
}

/* TopBar  */
.top-bar { height: 55px; }

/* SearchBar */
.search-bar-input {
  height: 35px;
  width: 93%;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.button
.search-bar-button {
  width: 7%;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

/* Dropdown */
.dropdown-content {
  margin-top: 3px;
  min-width: 180px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Notifications */
.notifications {
  height: 100%;
}

.notifications-dropdown-content {
  width: 400px;
}

/* LanguageSelector */
.language-selector__item {
  width: 35px;
  height: 35px;
}

.language-selector__item-icon-border {
  padding: 2px;
}

/* Icons */
.profile-icon {
  width: 40px;
  height: 40px;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.icon {
  width: 30px;
  height: 30px;
}

.auth-container {
  height: 300px;
  width: 400px;
}

.statistics__tag {
  height: 30px;
  width: 150px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.graphics-container {
  height: 300px;
}

.center-alignment {
  margin-top: 10%;
}