.notifications-dropdown-content {
  width: 400px;
}

.notification__item-card {
  min-height: 50px;
}

.dropdown-content {
  min-width: 180px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.icon {
  width: 35px;
  height: 35px;
}

.language-selector__item {
  width: 35px;
  height: 35px;
}

.language-selector__item-icon-border {
  padding: 2px;
}

.login-card {
  height: 200px;
  width: 300px;
}

.no-bg {
  background-color: #FFFFFF;
}

.purple-bg {
  background-color: #A463F2;
}

.height-40 {
  height: 40px;
}

.auth-card-header {
  font-size: 25px;
}

.no-color {
  color: #FFFFFF;
}

.purple-color {
  color: #A463F2;
}
